.about-container {
  padding-top: 8vw;
  display: flex;
  justify-content: center;
  gap: 10vw;
  width: 90%;
  margin-inline: auto;
}

/* CARD FLIP ANIMATION */
.flip-card {
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  background-color: var(--bg-secondary);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
  color: var(--white);
}

.flip-card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flip-card-front h5 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 20px;
}

.flip-card-front p {
  margin: 0;
  font-family: "Space Mono", monospace;
  color: var(--caption-text);
  font-size: 1.2rem;
}

.flip-card-front img {
  width: 45%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
}

.avatar {
  position: absolute;
  left: 5%;
  top: 5%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.bg-photo {
  background: url("../assets/images/geography.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 30%;
  border-radius: 20px 20px 0px 0px;
}

.my-face {
  position: absolute;
  left: 5%;
  top: 17%;
  border: 2px solid var(--bg-secondary);
  background: url("../assets/images/robo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20%;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
}

.info-section {
  display: flex;
  flex-direction: column;
  height: 80%;
  border-radius: 0px 0px 20px 20px;
}

.info-section ul {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.info-section li {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
  font-size: 0.9rem;
  text-align: start;
}

.info-section h3 {
  width: auto;
  font-family: "Space Mono", monospace;
  font-weight: 600;
}

.info-section p {
  font-family: "Space Mono", monospace;
  color: var(--caption-text);
  font-size: 0.8rem;
  text-align: start;
  margin: 0;
}

.about-content {
  color: var(--white);
  max-width: 500px;
}

.about-content p {
  line-height: 2rem;
}

.cup {
  color: blue;
}

@media (max-width: 992px) {
  .about-container {
    padding-top: 3vw;
    flex-direction: column;
    align-items: center;
    gap: 8vw;
  }

  .about-content {
    text-align: center;
  }
}
