/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.main-app {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color) !important;
  font-family: "Work Sans", sans-serif !important;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
